  #textSenha,#pwdFSenha,#textUsuario,#textMatricula,#textCPF,#textEndereco,
  #textInstituicao,#textNascimento,#textNome,#textSenha2,#textTelefone,#textEmail{
    -fx-text-fill: white;
    -fx-background-color: transparent;
  }
  #textRGCLT,#textCPFCLT,#textEnderecoCLT,#textCTPSCLT,#textNascimentoCLT,#textNomeCLT
  ,#textSenhaCLT,#textTelefoneCLT,#textEmailCLT{
    -fx-text-fill: white;
    -fx-background-color: transparent;
  }
  #textRGIDOSO,#textCPFIDOSO,#textEnderecoIDOSO,#textInstituicaoIDOSO,#textNascimentoIDOSO,
  #textNomeIDOSO,#textSenhaIDOSO,#textTelefoneIDOSO,#textEmailIDOSO,#nascimentoIDOSO{
    -fx-text-fill: white;
    -fx-background-color: transparent;
  }